.App {
    text-align: center;
    background-color: #6dbbf6;
    max-height: 100%; 
  }

/* .command-log {
    height:50vh;   
    margin: auto;
    display: block;
    overflow: scroll;  
    position: 'static';
}

.repl-command-box {
    width: 25%;            
    margin: auto;
    display: block;
    position: 'absolute';
    bottom:10%;
    left:50%;
} */







/* submitButton: {
    position: 'absolute',
    bottom:0,
    left:0,
} */